@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-3;
}

.bg-primary{
    background:rgb(160 32 240);
}
.bg-secondary{
    background: #8B008A ;
}
.mobile-nav{
    @apply fixed top-10 left-0 bg-gray-800 w-full h-max ;
}
.mobile-nav li{
    @apply border-b-2 text-center ;
}
.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100 ; 
}

html{
    scroll-behavior: smooth;
}